<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="/css/style.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Витрина товаров</title>
</head>

<body>
    <a href="/orders" style="float:right;">
        <b>ЗАКАЗЫ &cudarrr;</b>
    </a>
    <a href="/cart/items" style="float:right;">
        <b>КОРЗИНА &cudarrr;</b>
    </a>
    <a href="/main/items" style="float:right;">
        <b>ГЛАВНАЯ &cudarrr;</b>
    </a>
    <a href="/logout" style="float:right;">
        <b>ВЫЙТИ &cudarrr;</b>
    </a>
    <div style="width:70%;margin-left:auto;margin-right:auto;">
        <p>
            <img class="item-img" width="300" height="300" th:src="${(item.getImgPath() != null AND !#strings.isEmpty(item.getImgPath())) ? item.getImgPath() : '/img/not-image.png'}">
        </p>
        <p>
            <b th:text="${item.getTitle()}"></b>
            <b th:text="${item.getPrice()}+' руб.'" style="text-align:right;"></b>
        </p>
        <p>
            <span th:text="${item.getDescription()}"></span>
        </p>
        <form th:action="${'/cart/items/'+item.getId()}" method="post">
            <button name="action" value="minus">-</button>
            <span th:text="${item.getCount()}"></span>
            <button name="action" value="plus">+</button>
            <button name="action" value="plus" th:if="${item.getCount()==0}" style="float:right;">В корзину</button>
        </form>
    </div>
</body>

</html>