<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Витрина товаров</title>
</head>

<body>
    <a href="/orders" style="float:right;">
        <b>ЗАКАЗЫ &cudarrr;</b>
    </a>
    <a href="/cart/items" style="float:right;">
        <b>КОРЗИНА &cudarrr;</b>
    </a>
    <table style="width:70%;margin-left:auto;margin-right:auto;">
        <tr>
            <td>
                <form>
                    <p>
                        <label for="search">Найти: </label>
                        <input id="search" style="width:300px;" name="search" th:value="${search}">
                        <button name="action">&#128269;</button>
                    </p>
                    <p>
                        <label for="sort">Сортировка: </label>
                        <select id="sort" name="sort" onchange="this.form.submit()">
                            <option value="id" th:selected="${sort=='id'}">нет</option>
                            <option value="title" th:selected="${sort=='title'}">по алфавиту</option>
                            <option value="price" th:selected="${sort=='price'}">по цене</option>
                        </select>
                    </p>
                    <p>
                        <label for="pageSize">Число товаров: </label>
                        <select id="pageSize" name="size" onchange="this.form.submit()">
                            <option value="5" th:selected="${paging.isPaged() && paging.pageSize==5}">5</option>
                            <option value="10" th:selected="${paging.isPaged() && paging.pageSize==10}">10</option>
                            <option value="20" th:selected="${paging.isPaged() && paging.pageSize==20}">20</option>
                            <option value="50" th:selected="${paging.isPaged() && paging.pageSize==50}">50</option>
                            <option value="100" th:selected="${paging.isPaged() && paging.pageSize==100}">100</option>
                        </select>
                    </p>
                    <p>
                        <button th:if="${items.hasPrevious()}" name="page" th:value="${items.number}">&lt;</button>
                        <span th:text="|Страница: ${items.number+1}|"></span>
                        <button th:if="${items.hasNext()}" name="page" th:value="${items.number+2}">&gt;</button>
                    </p>
                </form>
            </td>
        </tr>
        <tr th:if="${!items.isEmpty()}" th:each="itemsRow : ${items}">
            <td th:each="item : ${itemsRow}">
                <table>
                    <tr>
                        <td>
                            <a th:href="${'/main/items/'+item.getId()}">
                                <img width="300" height="300" th:src="${(item.getImgPath() != null AND !#strings.isEmpty(item.getImgPath())) ? item.getImgPath() : '/img/not-image.png'}">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b th:text="${item.getTitle()}"></b>
                        </td>
                        <td>
                            <b th:text="${item.getPrice()}+' руб.'"></b>
                        </td>
                    </tr>
                    <tr>
                        <td th:text="${item.getDescription()}"></td>
                    </tr>
                    <tr>
                        <td>
                            <form th:action="${'/cart/items/'+item.getId()}" method="post">
                                <button name="action" value="minus">-</button>
                                <span th:text="${item.getCount()}"></span>
                                <button name="action" value="plus">+</button>
                                <button name="action" value="plus" th:if="${item.getCount()==0}" style="float:right;">В корзину</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>